@section Scripts
{
    <script src="~/js/product/search.js"></script>
}
<style>
    .container1 {
        height: 200px;
        position: relative;
    }

    .container2 {
        margin: 0;
        position: absolute;
        top: 50%;
        right: 50%;
    }
</style>


<div class="container1">
    <div class="container2">
        <h3>Sorry, we don't have such products yet...</h3>
    </div>
</div>
